@CHARSET "ISO-8859-1";

h1 {
	text-align: right;
}

h2 {
	text-align: center;
}

.loginForm {
	text-align: left;
	
}

table, th, td {
	border: 1px solid black;
	border-collapse:collapse
}