@CHARSET "ISO-8859-1";

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.loginForm {
	display: -webkit-flex;
	display: flex;
	-webkit flex-direction: column;
	flex-direction: column;
}



.tg {
	border-collapse: collapse;
	border-spacing: 0;
}

.tg td {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 7px 16px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}

.tg th {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 7px 16px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}
.adminButtons {
	margin-right:15px;
}