<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">prueba</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/exam</property>
  <property name="hibernate.connection.username">prueba</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="show_sql">true</property>
  <!-- Muestra el sql -->
  <property name="hbm2ddl.auto">update</property>
  <mapping resource="Language.hbm.xml"/>
  <mapping resource="Manager.hbm.xml"/>
  <mapping resource="User.hbm.xml"/>
  <!-- Crea las tablas o las actualiza en caso de existir -->
 </session-factory>
</hibernate-configuration>
